.hero {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 4rem;
    color: var(--primary-darken3);
    font-weight: 500;
    width: 75%;
    text-align: center;
  }
}
