.main {
  padding: 20px 0;
  .container {
    display: flex;
    padding: 0 30px;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  .sidebar {
    width: 25%;
    padding: 10px 30px;
    background-color: var(--light-darken1);
    border-radius: 5px;
    box-shadow: 0px 1px 5px 0px grey;
    .list {
      overflow-y: scroll;
      height: 600px;
      margin-top: 20px;
    }
    ul {
      margin-top: 10px;
    }
    li {
      line-height: 2rem;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      button {
        font-weight: bold;
        font-size: 1rem;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: lightgrey;
          transition: all 0.3s ease;
        }
        &:active {
          background-color: white;
          transition: all 0.3s ease;
        }
      }
      .active {
        background-color: var(--primary);
        color: white;
        &:hover {
          background-color: var(--primary-darken1);
          transition: all 0.3s ease;
        }
      }
    }
  }
  .right {
    width: 70%;
    .gallery {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      div {
        width: 200px;
        height: 200px;
        margin: 10px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
}
