.main {
  padding: 20px 0;
  .container {
    display: flex;
    padding: 0 30px;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  .sidebar {
    background: var(--light-darken1);
    width: 25%;
    padding: 10px 20px;
    input[type="search"] {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
    }
    ul {
      margin-top: 10px;
    }
    li {
      line-height: 2rem;
    }
  }
  .galery {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div {
      width: 200px;
      height: 150px;
      background-color: aqua;
      margin: 10px;
    }
  }
}
