@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #01bd56;
  --primary-darken1: #00aa4d;
  --primary-darken2: #009744;
  --primary-darken3: #00843c;
  --primary-lighten2: #66d799;
  --light-darken1: #f0f0f0;
  --light-darken2: #e5e5e5;
  --light-darken3: #cccccc;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  > input[type="checkbox"] {
    display: none;

    &:checked + .box {
      background-color: var(--primary);
      border-color: var(--primary);
    }
  }
  .box {
    width: 1.3rem;
    height: 1.3rem;
    border: 1.5px solid var(--primary);
    border-radius: 2px;
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 1px;

    &::after {
      content: "\2714";
      color: var(--light-darken1);
      font-size: 1rem;
    }
  }
}
